/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap");
/* common styles or utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 120px;
  margin-top: 80px;
}
/* banner style */
.banner {
  background-color: #2d25a0;
  display: flex;
}
.banner-left {
  padding: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.banner-left h1 {
  color: white;
  font-size: 50px;
  line-height: 70px;
  white-space: nowrap;
}
.btn {
  background-color: #e02c6d;
  padding: 13px 35px;
  border: transparent;
  margin-top: 20px;
  border-radius: 5px;
  transition: all 300ms ease;
}
.hyperlink {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.fa-arrow-right {
  transform: translateX(0);
  transition: all 300ms ease;
}
.banner-left .btn:hover {
  outline: 3px solid rgb(248, 112, 112);
  outline-offset: -8px;
  border-radius: 5px;
}
.banner-left .btn:hover .fa-arrow-right {
  transform: translateX(5px);
}
.banner-right {
  margin-left: 120px;
  margin-top: 40px;
}
.banner-right img {
  width: 70%;
  height: auto;
}
/* players style */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  place-items: center;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 20px rgb(233, 228, 228);
  border-radius: 6px;
  transition: all 200ms ease-in;
}
.player:hover {
  transform: scale(1.001);
  box-shadow: 0 0 20px rgb(170, 168, 168);
}
.player img {
  width: 100%;
  height: auto;
  padding: 18px;
  border-radius: 21px;
}
.player h2 {
  font-size: 20px;
  line-height: 40px;
  margin-right: auto;
  padding-left: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.player p {
  padding-left: 18px;
  color: grey;
  margin-bottom: 23px;
}
/* tickets style */
.tickets {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  color: rgb(255, 255, 255);
}
.tickets h1 {
  font-size: 37px;
  margin-bottom: 25px;
  font-weight: bolder;
}
.tickets p {
  font-size: 25px;
  margin-bottom: 25px;
  letter-spacing: 0.6px;
  word-spacing: 2.5px;
}
.tickets .buttons .btn {
  margin-inline: 10px;
  border-radius: 0;
}
.tickets .buttons .btn.btn-1 {
  background-color: transparent;
  outline: 3px solid #e02c6d;
  border: transparent;
  transition: all 250ms ease-out;
}
.tickets .buttons .btn.btn-1 a {
  color: #e02c6d;
}
.tickets .buttons .btn.btn-1:hover {
  background-color: #e02c6d;
}
.tickets .buttons .btn.btn-1:hover a {
  color: white;
}
.tickets .buttons .btn.btn-2 {
  transition: all 250ms ease-out;
  outline: 3px solid #e02c6d;
}
.tickets .buttons .btn.btn-2:hover {
  background-color: transparent;
  border: transparent;
}
.tickets .buttons .btn.btn-2:hover a {
  color: #e02c6d;
}

/* partners style */
.partners-title {
  font-size: 34px;
  text-align: center;
  margin-block: 70px;
}
.partners .partners-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  place-items: center;
  background-color: rgb(221, 239, 250);
  padding-block: 150px;
}

/* footer style */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 100px;
}
footer img {
  width: 465px;
  height: auto;
  margin-bottom: 40px;
}
footer .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
footer .social-icons i {
  border: transparent;
  border-radius: 32px;
  width: 45px;
  height: 45px;
  font-size: 25px;
  background: rgb(235, 232, 232);
  color: rgb(148, 148, 148);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
  transition: transform 500ms ease;
}
footer .social-icons i:hover {
  transform: rotate(360deg);
}

/* media query for tablet */
@media (max-width: 1334px) {
  /* common styles or utlities */
  .section-container {
    margin-inline: 27px;
  }
  .section-container {
    margin-inline: 40px;
  }
  /* banner style */
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner-left {
    margin-left: 60px;
  }
  .banner-left h1 {
    font-size: 46px;
    line-height: 64px;
  }
  .banner-right {
    margin-top: -80px;
    margin-bottom: 50px;
  }
  .banner-right img {
    width: 50%;
    display: block;
    margin-inline: auto;
  }
  /* players style */
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  /* tickets style */
  .tickets h1 {
    font-size: 30px;
  }
  .tickets p {
    font-size: 17px;
  }
  /* partners style */
  .partners .partners-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 886px) {
  /* banner style */
  .banner-left h1 {
    font-size: 39.7px;
  }
}
/* media query for mobile */
@media (max-width: 688px) {
  /* common style or utilities */
  .section-container {
    margin-inline: 20px;
  }
  /* banner style */
  .banner {
    flex-direction: column;
  }
  .banner-left {
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .banner-left h1 {
    font-size: 37px;
    line-height: 54px;
  }
  .banner-right {
    margin-left: 25px;
    margin-top: -50px;
    margin-bottom: 50px;
  }
  .banner-right img {
    width: 93%;
  }
  /* players style */
  .players {
    grid-template-columns: 1fr;
  }
  /* tickets style */
  .tickets h1 {
    font-size: 26px;
  }
  .tickets p {
    font-size: 13px;
  }
  /* partners style */
  .partners .partners-grid {
    grid-template-columns: 1fr;
  }
  .partners .partners-title {
    font-size: 33px;
  }
  /* footer style */
  footer {
    margin-top: 150px;
  }
  footer img {
    width: 320px;
    height: 50px;
  }
}
@media (max-width: 499px) {
  /* tickets style */
  .tickets h1 {
    font-size: 21px;
  }
  .tickets p {
    font-size: 9px;
  }
}
